# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ShootHoops.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Indi\Desktop\Universidade\ShootHoops\.idea\.idea.ShootHoops\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
